@import "templates/reset";
@import "variables";
@import '../../node_modules/swiper/swiper';
@import "templates/slider";
@import "fonts";
@import "settings";
@import "templates/header";
@import "templates/nav_light";
@import "templates/contacts_list";
@import "templates/services";
@import "templates/feedback";
@import "templates/main";
@import "templates/projects";
@import "templates/news";
@import "templates/questions";
@import "templates/articles";
@import "templates/clients";
* {
	box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
	color: $text-primary;
	a {
		color: $text-primary;
	}
  // background: url('@img/cover.jpg') 0 0 no-repeat;
}
