
.main
	height: 100vh
	background-color: #FFDDA7
	position: relative
	padding-top: 95px
	h1
		text-transform: uppercase
	&-img
		display: block
		margin-left: auto
		// margin-right: -120px
		mix-blend-mode: multiply
		height: calc(100vh - 95px)
